<launch>
  <arg name="fox" default="false" doc="enable foxglove"/>
  <arg name="slam" default="false" doc="enable for slam run"/>
  <arg name="joy" default="false" doc="enable joystick"/>


  <include file="$(find sodacan)/launch/include/mini.launch" />
  <include file="$(find sodacan)/launch/include/joystick.launch" if="$(arg joy)" />
  <include file="$(find sodacan)/launch/include/camera.launch" />
  <include file="$(find sodacan)/launch/include/aruco_detect.launch" />
  <include file="$(find sodacan)/launch/include/lidar.launch" />
  <group if="$(arg fox)">
    <include file="$(find sodacan)/launch/include/foxglove.launch" />
  </group>
</launch>
