<launch>
  <arg name="fox" default="true"/>
  <arg name="slam" default="false"/>


  <include file="$(find sodacan)/launch/include/micro.launch" />
  <include file="$(find sodacan)/launch/include/mini.launch" />
  <include file="$(find sodacan)/launch/include/transforms.launch" />
  <include file="$(find sodacan)/launch/include/joystick.launch" />
  <include file="$(find sodacan)/launch/include/camera.launch" />
  <include file="$(find sodacan)/launch/include/aruco_detect.launch" />
  <group if="$(arg fox)">
    <include file="$(find sodacan)/launch/include/foxglove.launch" />
  </group>
  <group if="$(arg slam)">
    <include file="$(find sodacan)/launch/include/slam.launch" />
  </group>
</launch>
