<launch>
  <!-- Start the move_base node -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <!-- Load the default navigation configuration -->
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <rosparam file="$(find sodacan)/config/move_base_params.yaml" command="load" />
  </node>

  <!-- Set up the map server with an empty map -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find sodacan)/maps/empty_map.yaml" />

  <node pkg="tf" type="static_transform_publisher" name="fiducial_to_map" args="0 0 0 0 0 0 map odom 100" />
</launch>