<launch>

  <!-- <node pkg="aruco_navigation" type="aruco_navigator.py" name="aruco_navigator" output="screen">
  </node> -->
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="global_costmap/width" value="100.0"/>
    <param name="global_costmap/height" value="100.0"/>
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

  </node>

  </launch>